* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body {
    height: 900px;
}
.main {
    width: 1190px;
    height: 768px;
    margin: 100px auto 0;
    border: 1px solid #ccc;
}


.main .menu {
    width: 75px;
    height: 100%;
    background-color: #1D2531;
    float: left;
    position: relative;
}
.menu ul {
    width: 100%;
}
.menu ul li {
    width: 50px;
    height: 50px;
    background-color: chartreuse;
    margin: 15px auto 10px;
    border-radius: 50%;
    cursor: pointer;
}
.menu ul li:nth-child(1) {
    background: url(./百度前端素材二/Menu/Item\ 1.png) no-repeat center;
    background-color: #289DF5;
}
.menu ul li:nth-child(2) {
    background: url(./百度前端素材二/Menu/Item\ 2.png) no-repeat center;
    background-color: #9480E4;
}
.menu ul li:nth-child(3) {
    background: url(./百度前端素材二/Menu/Item\ 3.png) no-repeat center;
    background-color: #F05034;
}
.menu ul li:nth-child(4) {
    background: url(./百度前端素材二/Menu/Plus\ Icon.png) no-repeat center;
    border: 2px solid #2D3848;
}
.menu span {
    position: absolute;
    bottom: 20px;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    cursor: pointer;
}
.menu span:nth-of-type(1) {
    left: 15px;
    background: url(./百度前端素材二/Menu/Grid.png) no-repeat center;
}
.menu span:nth-of-type(2) {
    right: 15px;
    background: url(./百度前端素材二/Menu/Settings.png) no-repeat center;
}



.main .menu-content {
    width: 188px;
    height: 100%;
    background-color: #222C3C;
    float: left;
    position: relative;
}
.main .menu-content .line {
    display: block;
    width: 80%;
    height: 1px;
    background-color: #2A3547;
    margin: 0 auto;
    /* 注意：inlien-block无法使用margin的auto属性，只有block才可以使用，但是可以使用明确的值：margin:0 10px; */
}
.menu-content .menu-content-item {
    width: 100%;
    text-align: left;
}
.menu-content-item header {
    height: 20px;
    font-size: 12px;
    color: #5B6779;
    line-height: 20px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}
.menu-content-item header .setting {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 10px;
    background: url(./百度前端素材二/Menu/Settings.png) no-repeat center;
    cursor: pointer;
/* 注意：如果span所在的父元素有文字，而且span和文字是同级的，就无法使用top:0;bottom:0;margin:auto,0;来实现上下居中对齐 */
/* 解决方法是把文字放到一个span里面，使得span不再和文字同级 */
}
.menu-content-item ul li {
    margin: 15px 0;
    font-size: 12px;
    color: #A8B1BF;
    margin-left: 12px;
    cursor: pointer;
}
.menu-content-item ul li:hover {
    color: white;
}
.menu-content-item .number::before {
    content: "54";
    float: right;
    width: 25px;
    height: 15px;
    border-radius: 10px;
    background-color: #289DF5;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 15px;
    margin-right: 10px;
}
.menu-content-item .worring::before {
    content: "!";
    float: right;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 15px;
    margin-right: 10px;
}
/* 图标的样式 */
.menu-content-item .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    margin-right: 5px;
    /* 为了使span和文字同一个底边，使用vertical-align：bottom */
}
.menu-content-item .icon.books{
    background: url(./百度前端素材二/Menu/Book\ of\ Wisdom.png) no-repeat center;
}
.menu-content-item .icon.video{
    background: url(./百度前端素材二/Menu/Video\ Camera.png) no-repeat center;
}
.menu-content-item .icon.paint{
    background: url(./百度前端素材二/Menu/Painting.png) no-repeat center;
}
.menu-content-item .icon.chart{
    background: url(./百度前端素材二/Menu/Chart.png) no-repeat center;
}

.menu-content-schedule {
    width: 80%;
    height: 50px;
    position: absolute;
    bottom: 0;
    font-size: 10px;
    color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.menu-content-schedule span:nth-of-type(1) {
    float: left;
}
.menu-content-schedule span:nth-of-type(2) {
    float: right;
}
.menu-content-schedule .schedule-container {
    width: 130px;
    height: 2px;
    background-color: #2D3848;
    margin-top: 30px;
    border-radius: 1px;
}
.schedule-container .active-schedule {
    width: 40%;
    height: 2px;
    background-color: #8767E6;
    border-radius: 1px;
}







.main .chat {
    width: 925px;
    height: 100%;
    background-color: cornsilk;
    float: left;
}
.chat header {
    width: 100%;
    height: 60px;
    background-color: white;
    position: relative;
    line-height: 60px;
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.chat header .user {
    width: 200px;
    height: 90%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 12px;
}
/* 用户的公共样式 */
.user::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(./百度前端素材二/Menu/dropdown.png) no-repeat center;
    right: 20px;
    top:0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}
.user img {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url(./百度前端素材二/Chat/ren/Face.png) no-repeat center;
    margin-top: 5px;
    position: relative;
}
.user img::before{
    content: "";
    position: absolute;
    right: 10px;
    bottom: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #F05034;
   
}
.user span {
    position: absolute;
    line-height: 20px;
    left: 60px;
}
.user span:nth-of-type(1) {
    top: 8px;
    color: #2399F1;
}
.user span:nth-of-type(2) {
    bottom: 8px;
    color: #BDBDBD;
}


.chat-left{
    width: 300px;
    height: 708px;
    background-color: white;
    float: left;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}
.chat-left .search {
    width: 100%;
    height: 51px;
    position: relative;
}
.chat-left .search input {
    width: 80%;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 10px;
}
.chat-left .search::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(./百度前端素材二/Chat/Search\ icon.png) no-repeat center;
    top: 0;
    bottom: 0;
    right: 35px;
    margin: auto 0;
    cursor: pointer;
}


.chat-left-content ul {
    width: 100%;
    height: 656px;
    overflow: hidden;
}
.chat-left-content ul li {
    width: 100%;
    height: 98px;
    background-color: white;
    position: relative;
    border-top: 1px solid #ccc;
}
.chat-left-content .face {
    width: 95%;
    height: 55px;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    margin-left: 15px;
    font-size: 12px;
}
.face img {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    position: relative;
}
.face span {
    position: absolute;
    line-height: 20px;
    left: 45px;
    font-size: 10px;
}
.face span:nth-of-type(1) {
    top: 8px;
    color: #2399F1;
}
.face span:nth-of-type(2) {
    bottom: 8px;
    color: #BDBDBD;
}
.face span:nth-of-type(3) {
    width: 10px;
    height: 10px;
    left: 260px;
    top: 8px;
}

.chat-left-content li p {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 84%;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: 15px;
    cursor: pointer;
    padding-right: 20px;

}

.chat-left-content li .number::after {
    content: "4";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #2399F1;
    border-radius: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
    color: white;
}

.chat-right {
    width: 625px;
    height: 708px;
    background-color: #289DF5;
    float: right;
}
.chat-right header {
    width: 100%;
    height: 52px;
    background-color: white;
    position: relative;
}
.chat-right header>span {
    position: absolute;
    left: 0;
    width: 120px;
    height: 52px;
    line-height: 52px;
    text-align: center;
}
.chat-right header>span::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right:-5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.chat-right header .button-group {
    position: absolute;
    width: 300px;
    height: 52px;
    right: 0;
}
.chat-right .button-group ul {
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
}
.chat-right .button-group .items-first {
    top: 0;
    left: 40px;
}
.chat-right .button-group .items-last {
   
    right: 20px;
}
.chat-right .button-group ul:nth-of-type(1) li:nth-of-type(even) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.chat-right .button-group ul:nth-of-type(2) li:nth-of-type(even) {
    border-left: 1px solid #ccc;
}
.chat-right .button-group li {
    width: 25px;
    height: 25px;
    background-color: aqua;
    float: left;
    cursor: pointer;
}

.button-group .items-first .item1 {
    background: url(./百度前端素材二/Chat/User\ icon.png) no-repeat center;
}
.button-group .items-first .item2 {
    background: url(./百度前端素材二/Chat/Upload\ icon.png) no-repeat center;
}
.button-group .items-first .item3 {
    background: url(./百度前端素材二/Chat/Trash\ icon.png) no-repeat center;
}
.button-group .items-last .item1 {
    background: url(./百度前端素材二/Chat/Arrow\ left.png) no-repeat center;
}
.button-group .items-last .item2 {
    background: url(./百度前端素材二/Chat/Arrow\ right.png) no-repeat center;
}
.chat-right .button-group span {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    line-height: 52px;
}
.chat-right .button-group .line {
    width: 1px;
    height: 25px;
    background-color: #ccc;
    left: 145px;
}
.chat-right .button-group .date {
    right: 95px;
    font-size: 12px;
}



.chat-right-content {
    width: 626px;
    height: 656px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.conversation {
    margin-bottom: 20px;
}
.conversation-item {
    padding-top: 15px;
}
.conversation-item img {
    float: left;
    width: 45px;
    height: 45px;
    margin: 0 20px;
}
.conversation-item div {
    overflow: hidden;
    font-size: 12px;
}
.conversation-item div img {
    display: inline-block;
    width: 100px;
    height: auto;
    margin: 0;
    margin-right: 20px;
}
.conversation-item div p {
    font-weight: 700;
    margin-bottom: 5px;
}
.conversation-item p span {
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
    color: #289DF5;
}

.chat-right-content .line-date {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    /* 这里的left，和right=0，是完成这条线的关键。是这两属性等于0从而拉大了.line-date */
    margin: 0 auto; 
    /* 注意：如果使用了偏移属性进行布局，进行布局的那个元素该是绝对定位position：absolute */
    font-size: 12px;
    color: #ccc;
}
.chat-right-content .line-date::before {
    content: "";
    display: inline-block;
    width: 265px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    /* 因为父盒子被拉大了，所以left=0这个属性是可以呈现效果的 */
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.chat-right-content .line-date::after {
    content: "";
    display: inline-block;
    width: 265px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    right: 0;
    /* 因为父盒子被拉大了，所以right=0这个属性是可以呈现效果的 */
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.chat-right-content .add {
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.add span {
    float: left;
    width: 10%;
    height: 100%;
    background: url(./百度前端素材二/Chat/Add\ icon.png) no-repeat center;
    background-color: #F4F6F9;
    /* 背景颜色的选项要放在背景图片选项的后面，可能是background这个选项里覆盖了一个颜色的选项。 */
    cursor: pointer;
    border-right: 1px solid #ccc;
}
.add input {
    float: left;
    width: 89%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}