*{
    margin: 0;
    padding: 0;
}
.contain1 {
    width: 700px;
    height: 100px;
    margin: 0 auto;
}
.contain1 .left {
    width: 30%;
    height: 100px;
    background-color: pink;
    float: left;
}
.contain1 .right {
    width: 70%;
    height: 100px;
    background-color: blueviolet;
    float: left;
}

.containe2 {
    width: 700px;
    height: 100px;
    margin: 0 auto;
    padding-left: 100px;
    box-sizing: border-box;
    position: relative;
}
.containe2 .left{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: pink;
    left: 0;
}
.containe2 .right {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}
.containe3 {
    width: 700px;
    height: 100px;
    margin: 0 auto;
    padding-right: 100px;
    box-sizing: border-box;
    position: relative;
}
.containe3 .left{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}
.containe3 .right {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: pink;
    right: 0;
    top: 0;
}

.containe4 {
    width: 700px;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 100px;
    position: relative;
}
.containe4 .left {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    background-color: pink;
}
.containe4 .content {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}
.containe4 .right {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    position: absolute;
    right: 0;
    top: 0;
}

.containe5 {
    width: 700px;
    height: 100px;
    margin: 0 auto;
    position: relative;   
    box-sizing: border-box;
    padding-left: 300px;
}
.containe5 .left {
    width: 100px;
    height: 100px;
    background-color: pink;
    position: absolute;
    left: 0;
}
.containe5 .content {
    width: 200px;
    height: 100px;
    background-color: cadetblue;
    position: absolute;
    left: 100px;
}
.containe5 .right {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}