*{
    margin: 0;
    padding: 0;
}
div {
    overflow: hidden;
}
div p {
    float: left;
}
div p:nth-child(2){
    margin-left: 20px;
    margin-right: 20px;
}

div.main{
    width: 550px;
    height: 900px;
    margin: 0 auto;
}
div.title {
    height: 40px;
    background-color: #3c3c3c;
    color: white;
}
div.title h1 {
    font-size: 16px;
    line-height: 40px;
    padding-left: 5px;
}
div.item {
    height: 100px;
    margin-top: 5px;
}
div.item h2{
    width: 150px;
    float: left;
    text-align: center;
    height: 100%;
    line-height: 100px;
    font-size: 14px;
    background-color: cadetblue;

}
div.item div {
    float: left;
    font-size: 13px;
    padding-top: 5px;
    padding-left: 5px;
}